body,
#parallax {
  overflow-x: hidden;
}

body,
#parallax,
#parallax span {
  padding: 0;
  margin: 0;
}

.jpeg_001 {
  background-image: url(../show/001.jpeg);
  background-size: 100%;
  top: 25vh;
  right: 2.5%;
  z-index: -5;
}

.jpeg_002 {
  background-image: url(../show/002.jpeg);
  background-size: 100%;
  top: 100%;
  left: 0;
  z-index: -3;
}

.jpeg_003 {
  background-image: url(../show/003.jpeg);
  background-size: 100%;
  top: 200%;
  right: 10%;
  z-index: -2;
}

.jpeg_004 {
  background-image: url(../show/004.jpeg);
  background-size: 75%;
  top: 275%;
  left: 0%;
  z-index: -1;
}

.jpeg_005 {
  background-image: url(../show/005.jpeg);
  background-size: 90%;
  top: 250%;
  right: 20%;
  z-index: -4;
}

.jpeg_006 {
  background-image: url(../show/006.jpeg);
  background-size: 100%;
  top: 275%;
  right: 5%;
  z-index: -2;
}

#parallax span {
  position: absolute;
  width: 55vw;
  height: 55vw;
  padding-bottom: 50vh;
  max-width: 500px;
  max-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
}

#footer {
  color: var(--sub-color);
  font-family: var(--sub-font);
  position: fixed;
  z-index: 99;
  bottom:-100vh;
  left:0;
}

.back {
  color: var(--main-color);
  font-size: 250%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2.5%;
  z-index: 100;
  transition: color 2500ms ease;
  text-decoration: none;
}

.back:hover {
  color: var(--sub-color);
  cursor: pointer;
  transition: color 1250ms ease;
}

@media screen and (min-width: 750px) {
  .back {
    margin: 0 1rem;
  }
}
