:root {
  --main-font: 'Source Serif Pro', serif;
  --sub-font: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  --bg-color: #eee;
  --text-color: #111;
  --sub-color: #fff7;
  --tt-shadow:
  0.1vw 0.1vw 0 #fff,
  0.2vw 0.2vw 0 #fff,
  0.3vw 0.3vw 0 #fff;
  --text-shadow:
  1px 1px 0 #fff,
  2px 2px 0 #fff;
}

#image {
  background-position: 50% 90%;
  background-size: 75% auto;
}

.jpeg_002 {
  background-image: url(002.jpeg);
  background-position: 50% 50%;
  background-size: cover;
}

.jpeg_003 {
  background-image: url(003.jpeg);
  background-position: 50% 50%;
  background-size: cover;
}

.jpeg_004 {
  background-image: url(004.jpeg);
  background-position: 50% 50%;
  background-size: cover;
}

.jpeg_005 {
  background-image: url(005.jpeg);
  background-position: 50% 50%;
  background-size: cover;
}

.jpeg_006 {
  background-image: url(006.jpeg);
  background-position: 50% 50%;
  background-size: 90%;
}

.mousedragscrollable h1,
.mousedragscrollable h2,
.mousedragscrollable .main {
  font-family: var(--main-font);
}

.mousedragscrollable p,
.mousedragscrollable .sub {
  font-family: var(--sub-font);
}

.mousedragscrollable .tt {
  text-shadow: var(--tt-shadow);
}

.mousedragscrollable .shadow {
  text-shadow: var(--text-shadow);
}
