main {
    display: grid;
    overflow-x: hidden;
}

main h1,
#value,
footer {
    transition: all 2.5s;
}

main h1,
#cover {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enter main h1 {
    top: 0;
    left: 0;
    transform: translate(-0%, -0%);
    max-width: 100%;
}

#value,
footer {
    position: relative;
    z-index: 1;
}

main h1 {
    z-index: 100;
}

#cover {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}

main h1 {
    font-size: 150%;
    font-weight: 555;
}

.enter main h1,
#value a {
    font-size: 111%;
}

main h2,
#value h3,
#value p,
#readme {
    font-size: 90%;
}

#value u,
#value time {
    font-size: 75%;
}

#value time {
    font-family: var(--main-font);
}

#value p,
#value u {
    font-family: var(--sub-font);
}

#value a {
    border-left: 0.1rem solid;
    display: inline-block;
    font-family: var(--main-font);
    margin-left: 0.25rem;
    text-decoration: none;
}

#value u {
    display: inline-block;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0.25rem 0;
    margin: 0 0.25rem;
    text-decoration: none;
}

main h1,
footer div {
    padding: 0.5rem;
    margin: 0;
}

#value p {
    padding: 0 0.25rem;
    margin: 0;
}

#value ul {
    padding: 0 1.5rem 0 0;
    margin: 0;
}

#value h3,
#value ul li {
    padding: 0 0.5rem;
    margin: 0;
}

.enter main h1 {
    filter: invert();
}

h1:hover {
    color: var(--sub-color);
    cursor: pointer;
}

.enter main h1 {
    width: max-content;
}

footer {
    width: 100%;
}

#value {
    display: flex;
    flex-direction: column;
    place-self: start center;
    font-size: 0%;
    padding: 4.5rem 0.5rem 1rem;
    margin: 0 auto;
    width: calc(100% - 5rem);
    max-width: 750px;
    overflow: auto;
}

.enter #value {
    font-size: 100%;
    height: auto;
}

@media screen and (max-width: 750px) {
    html {
        font-size: 3.21vw;
    }

    #value {
        padding: 12.5% 0.5rem 1rem 0.5rem;
        margin: 0 auto 0 0;
    }

    .enter #value {
        min-height: 50vw;
    }
}

@media (orientation: landscape) {
    #cover {
        background-size: auto 80%;
        background-position: bottom 2.5rem left 2.5rem;
        background-repeat: no-repeat;
    }

    #cover video {
        width: auto;
        height: 100%;
    }
}

@media (orientation: portrait) {
    #cover {
        background-size: 85% auto;
        background-position: bottom 10% left 20%;
        background-repeat: no-repeat;
    }

    #cover video {
        width: 100%;
        height: auto;
    }
}

main h2 {
    font-family: var(--sub-font);
    font-weight: 500;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    z-index: 1;
}

@media print {
    main h2 {
        word-break: keep-all;
        height: 100%;
    }
}

#value ul {
    list-style: none inside;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    place-self: end;
}

#value,
footer {
    pointer-events: none;
    user-select: none;
    opacity: 0;
}

.enter #value,
.enter footer {
    pointer-events: auto;
    user-select: auto;
    opacity: 1;
}
