html {
    font-size: var(--font-size);
    height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

.main {
    font-family: var(--main-font);
}

.sub {
    font-family: var(--sub-font);
}

.shadow {
    color: var(--text-color);
    text-shadow: var(--text-shadow);
}

a {
    color: var(--text-color);
    filter: invert(1);
    transition: filter 1s;
}

a:hover {
    filter: invert(0);
    cursor: pointer;
}

button {
    appearance: none;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.vertical {
    font-family: var(--sub-font);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

main {
    position: fixed;
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
}
